/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --green-darkest: #38452A;
  --green-primary: #5F6F3A;
  --green-mid: #7E8B52;
  --green-accent: #A4AE7A;
  --bg-lightest: #D8D8C6;

  color-scheme: light;
  color: var(--green-darkest);
  background-color: var(--bg-lightest);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-lightest);
}

#root {
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: var(--green-darkest);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 24px;
}
